<div class="login-container">
    <header class="login__header">
        <div class="login__header__left">
            <img src="assets/HoneyLogo.png" alt="logo">
            <h2>Honey, more than a social app!</h2>
        </div>
        <!-- Zona de campos para realizar la autenticacion del usuario -->
        <div class="login__header__right">
            <mat-card class="login__header__right__card">
                <mat-card-content class="login__header__right__card__content"> 
                    <!-- Con esto creamos una manera de agregarle funcionalidad al loguin -->
                    <form #form="ngForm" (ngSubmit)="login(form)" class="login-form">
                        <input type="text" name="email" ngModel placeholder="Email address" required>
                        <input type="password" name="password" ngModel placeholder="Password" required>

                        <button type="submit" class="login-button" [disabled]="form.invalid || form.pending">Iniciar</button>
                    </form>
                    <a href="#">¿Contraseña olvidada?</a>
                    <button class="create-account" (click)="openRegister()">Crear cuenta nueva</button>
                </mat-card-content>
            </mat-card>

            <p class="tagline">Crea una cuenta para conversar de tus temas favoritos</p>
        </div>
    </header>

    <!-- <footer class="login__footer">
        <img src="assets/footer_honey.PNG" alt="footer">
    </footer> -->
</div>