
<div class="home-container body">
    <div class="home__header">
        <div class="home__header__left">
            <img src="assets/Logo.png" alt="logo" mat-card-avatar>
            <div class="input">
                <mat-icon class="search-icon">search_outline</mat-icon>
                <form method=GET action="http://www.google.com/search">
                    <input type="text" placeholder="Search Honey">
                </form>
            </div>
        </div>
        <div class="home__header__middle">
            <div class="active" (click)="GoHome()">
                <mat-icon>home</mat-icon>
            </div>
            <div (click)="GoFriend()">
                <mat-icon>group</mat-icon>
            </div>
        </div>

        <div class="home__header__right">
            <div>
                <img [src]="user?.avatar" alt="avatar" mat-card-avatar>
                <span class="name">{{user?.firstName || 'Unknown'}}</span>
            </div>

            <div>
                <mat-icon>add</mat-icon>
            </div>

            <div>
                <mat-icon matBadge="{{posts.length}}" matBadgeColor="primary" matBadgeOverlap="false" matBadgePosition="above after">forum</mat-icon>
            </div>

            <!-- <div>
                <mat-icon matBadge="3" matBadgeColor="warn" matBadgeOverlap="false" matBadgePosition="above after">notifications</mat-icon>
            </div> -->
        </div>
        <div>
        <mat-icon [matMenuTriggerFor]="menu">expand_more</mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logOut()">
                <mat-icon >exit_to_app</mat-icon>Cerrar sesión
            </button>
        </mat-menu>
      </div>
    </div>
    <div class="home__body">

        <div class="home__body__sidebarLeft">
          <div class="inside">
            <div class="user-avatar">
              <img alt="{{user?.firstName}}" [src]="user?.avatar" mat-card-avatar>
              <span class="name">{{user?.firstName}} {{user?.lastName}}</span>
            </div>
            <!-- <div>
              <mat-icon> local_hospital</mat-icon>
              <span class="covid">COVID-19 Information Center</span>
            </div> -->
            <div>
              <button mat-menu-item (click)="GoFriend()">
                <mat-icon>people</mat-icon>Friends
              </button>
            </div>
            <div>
              <button mat-menu-item (click)="GoHome()">
                <mat-icon>chat</mat-icon>Messenger
              </button>
              
            </div>
            <!-- <div>
              <mat-icon>video_library</mat-icon>
              <span>Videos</span>
            </div> -->
    
            <!-- <div>
              <mat-icon class="see-more">expand_more</mat-icon>
              <span>See More</span>
            </div> -->
    
            <h2 class="texto">Publicidad</h2>
                <a href="https://www.youtube.com/watch?v=U4ejmeEals0&list=PLpOqH6AE0tNhdnOl1mOBthj4C7OHdwQB2">
               <img src="assets/publi1.jpg" alt="publi1" class="img1"></a>
               <a href="https://edutin.com/curso-de-programacion-4163">
               <img src="assets/publi2.jpg" alt="publi2" class="img2"></a>
          </div>
        </div>

        <div class="home__body__contentMiddle">

          <div class="home__body__contentMiddle__top">
            <!--Historias imagenes-->
            <mat-card *ngFor="let i of images" class="image-card">
              <img alt="bg"
                   class="bg" src="{{ i }}">
              <mat-card-content>
                <img
                  alt="avatar"
                  class="avatar" src="assets/avatar.jpg">
                <span class="card-name">Carlos Fernández</span>
              </mat-card-content>
            </mat-card>
    
          </div>

          <div class="home__body__contentMiddle__center">
            <mat-card class="post-message">
              <mat-card-header class="post-message-header" style="padding-bottom: 20px; border-bottom: 1px solid lightgray;">
                <img
                  alt="{{user?.firstName}}"
                  mat-card-avatar
                  [src]="user?.avatar">
                <form #form="ngForm" (ngSubmit)="postMessage(form)">
                  <input class="on-your-mind" name="message" ngModel placeholder="¿Qué estas pensando?" type="text">
                  <button style="display: none;" type="submit"></button>
                </form>
    
              </mat-card-header>
              <mat-card-content class="card-body">
                <div>
                  <mat-icon color="accent">videocam</mat-icon>
                  <span>Video Directo</span>
                </div>
    
                <div>
                  <mat-icon color="primary">photo_album</mat-icon>
                  <span>Foto/Video</span>
                </div>
    
                <div>
                  <mat-icon color="warn">mood</mat-icon>
                  <span>Sentimiento/Reacción</span>
                </div>
              </mat-card-content>
            </mat-card>
            <!-- Esto se encarga de llamar a todos los post para mostrarlos -->
            <mat-card *ngFor="let p of posts" class="posts">
              <mat-card-header class="posts__header">
                <img alt="{{ p?.title }}" mat-card-avatar [src]="p?.avatar">
                <div class="posts__header__right">
                  <h3>{{ p?.title }}</h3>
                  <span>{{ p?.time?.seconds * 1000 | date:'medium' }}</span>
                </div>
              </mat-card-header>
              <mat-card-content class="posts__body">
                <p>{{ p?.message }}</p>
              </mat-card-content>
            </mat-card> 
          </div>
      </div>
</div>
<!-- <div class="footer">
  <footer>
    footer
  </footer>
</div> -->
