<div class="home-container body">
    <div class="home__header">
        <div class="home__header__left">
            <img src="assets/Logo.png" alt="logo" mat-card-avatar>
            <div class="input">
                <mat-icon class="search-icon">search_outline</mat-icon>
                <form method=GET action="http://www.google.com/search">
                    <input type="text" placeholder="Search Honey">
                </form>
            </div>
        </div>
        <div class="home__header__middle">
            <div (click)="GoHome()">
                <mat-icon>home</mat-icon>
            </div>
            <div class="active" (click)="GoFriend()">
                <mat-icon>group</mat-icon>
            </div>
        </div>

        <div class="home__header__right">
            <div>
                <img [src]="user?.avatar" alt="avatar" mat-card-avatar>
                <span class="name">{{user?.firstName || 'Unknown'}}</span>
            </div>

            <div>
                <mat-icon>add</mat-icon>
            </div>

            <div>
                <mat-icon matBadge="{{posts.length}}" matBadgeColor="primary" matBadgeOverlap="false" matBadgePosition="above after">forum</mat-icon>
            </div>

        </div>
        <div>
        <mat-icon [matMenuTriggerFor]="menu">expand_more</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>Cerrar Sesion
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="home__body">

        <div class="home__body__sidebarLeft">
          <div class="inside">
            <div class="user-avatar">
              <img alt="{{user?.firstName}}" [src]="user?.avatar" mat-card-avatar>
              <span class="name">{{user?.firstName}} {{user?.lastName}}</span>
            </div>
            <div>
              <button mat-menu-item (click)="GoFriend()">
                <mat-icon>people</mat-icon>Friends
              </button>
            </div>
            <div>
              <button mat-menu-item (click)="GoHome()">
                <mat-icon>chat</mat-icon>Messenger
              </button>
            </div>
           
          </div>
        </div>

        <div class="home__body__contentMiddle">
          <div class="home__body__contentMiddle__center">
            <div class="home__body__contentMiddle__top">
              <!--Historias imagenes-->
              <mat-card *ngFor="let i of users" class="image-card">
                <div >
                  <img class="imagenperfil" alt="{{i?.title}}" [src]="i?.avatar">
                </div>
                
                <div class="textoperfil">
                  <strong><p>{{i?.firstName}} {{i?.lastName}}</p></strong>
                  <p><strong>Email: </strong>{{i?.email}}</p>
                  <p><strong>Imagen de perfil: </strong>{{i?.avatar}}</p>
                </div>
              </mat-card>
      
            </div>
          </div>
      </div>

</div>
