<section class="register">
    <div class="header">
        <h3>Registrarse</h3>
        <p>Rápido y sencillo</p>
    </div>

    <div class="body">
        <form #form="ngForm">
            <div class="user_name">
                <input type="text" placeholder="Nombre" name="fname" ngModel>
                <input type="text" placeholder="Apellidos" name="lname" ngModel>
            </div>

            <div class="email_password">
                <input type="text" placeholder="Email" name="email" ngModel>
                <input type="text" placeholder="Enlace imagen" name="avatar" ngModel>
                <input type="password" placeholder="Password" name="password" ngModel>
                <small>Se requieren 6 caracteres para validar la contraseña</small>
               
                
                
            </div>

            <p>Haciendo click en registrarse, usted acepta los terminos, politica de datos y Cookies, podrás recibir correos electronios pero puede desuscribirse cuando quiera</p>
            
            <button type="submit" class="submit-button" [mat-dialog-close]="form.value">Registrarse</button>
        </form>
    </div>
</section>